.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 20px;
  height: 30px;
}

.cell.empty {
  background-color: white;
}

.cell.filled {
  background-color: blue;
}